@using FileHosting.Domain.Enums
@{
    Layout = null;
}
<div class="panel panel-primary no-margin">
    <div class="panel-body">
        <h3 class="no-margin">Search files</h3>
        <hr />
        <form class="form-inline" action="@Url.Action("Index", "Files")" method="GET" role="form">
            <div class="form-group">
                <input type="hidden" name="searchType" value="@SearchFilesType.ByName" />                                
                <input class="form-control width-245" type="text" name="searchParam" placeholder="File name" />
            </div>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">
                    <span class="glyphicon glyphicon-search"></span>&ensp;Find
                </button>
            </div>
        </form>
    </div>
</div>