@using FileHosting.Domain.Enums
@model Dictionary<string, int>
@{
    Layout = null;
}
<br />
<div class="panel panel-primary no-margin">
    <div class="panel-body">
        <h3 class="no-margin">Tags</h3>
        <hr />
        @foreach (var tag in Model)
        {
            <a class="btn btn-info tag" href="@Url.Action("Index", "Files", new { searchType = SearchFilesType.ByTag, searchParam = @tag.Key })" role="button">
                <span class="glyphicon glyphicon-tag"></span>
                @tag.Key&nbsp;
                <span class="badge pull-right">@tag.Value</span>
            </a>
        }
    </div>
</div>