@{
    ViewBag.Title = "Unauthorized access attemp";
}
<div class="width-800">
    <h1 class="text-center">@ViewBag.Title</h1>
    <br />
    <div class="well well-custom text-left">
        <div class="alert alert-danger no-margin" role="alert">
            <h3>You have attempted to access a page that you are not authorized to view.</h3>
            <h3>If you have any questions, please contact the site administrator.</h3>
        </div>
    </div>
</div>