/*.container { width: 920px !important; }*/


/* Styles for validation helpers
---------------------------------------------------------------------------------*/

.field-validation-error {
    color: #f00;
    font-weight: bold;
}

.field-validation-valid { display: none; }

.input-validation-error {
    background-color: #fee;
    border: 1px solid #f00;
}

.validation-summary-errors {
    color: #f00;
    font-weight: bold;
}

.validation-summary-valid { display: none; }


/*-------------------------------------------------------------------------------*/

.logo {
    display: block;
    margin-right: 50px;
    padding-left: 80px;
    padding-right: 25px;
    position: relative;
}

.logo .logo-img {
    left: 0;
    position: absolute;
    top: -7px;
}

#img-supercaptcha { height: 100px !important; }

hr {
    border-color: rgb(56, 97, 187) !important;
}

/*hr {
    background-image: url(../Content/themes/base/images/gauze.png) !important;
    border: none !important;
    height: .75em !important;
    margin: .75em 0 !important;
}*/

.display-inline { display: inline !important; }

.display-inline-block { display: inline-block !important; }

.display-none { display: none !important; }

.margin-left { margin-left: 20px !important; }

.form-custom { padding: 0 !important; }

.well-custom { margin: 0 auto !important; }

.no-margin { margin: 0 !important; }

.border-bottom { border-bottom: 1px solid !important; }

.th-control { width: 130px !important; }

.th-user-control { width: 180px !important; }

.th-numbers { width: 100px !important; }

.width-200 { width: 200px !important; }

.width-246 { width: 246px !important; }

.width-250 { width: 250px !important; }

.width-600 { width: 600px !important; }

.width-800 { width: 800px !important; }

#allowedUsers { margin-top: 12px !important; }

.tag {
    padding: 5px !important;
    margin-bottom: 5px !important;
}

.image {
    height: 786px !important;
    width: 786px !important;
}

.thumbnail {
    float: left !important;
    height: 140px !important;
    margin-bottom: 15px !important;
    margin-right: 15px !important;
    width: 140px !important;
}

.news-wrapper {
    text-align: justify !important;
    white-space: normal !important;
    /*word-break: break-all !important;
    word-wrap: break-word !important;*/
}